.singleWork {
  margin: 7rem 6.5% 0;
  display: flex;
  flex-direction: column;
}
.singleWork .singleWork__header {
  max-width: 100%;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  padding: 1rem 0;
  margin: 3rem 0;
}
.singleWork .singleWork__header h2 {
  font-size: 2.5rem;
  max-width: 45rem;
}
.singleWork .singleWork__header .singleWork__header-related {
  display: flex;
  gap: 0.6rem;
}
.singleWork .singleWork__header .singleWork__header-related button {
  padding: 0.7rem 1rem;
  background-color: #fff;
  border: 1px solid #D9D9D9;
  border-radius: 2rem;
  color: rgb(126, 125, 125);
}
.singleWork .singleWork__details {
  display: flex;
  gap: 2rem;
  justify-content: flex-start;
}
.singleWork .singleWork__details .singleWork__details-time,
.singleWork .singleWork__details .singleWork__details-charges {
  border-right: #D9D9D9 solid 1px;
  padding-right: 3rem;
  display: flex;
  flex-direction: column;
  gap: 0.6rem;
  padding-bottom: 1rem;
}
.singleWork .singleWork__details .singleWork__details-time p,
.singleWork .singleWork__details .singleWork__details-charges p {
  font-size: 0.8rem;
}
.singleWork .singleWork__details .singleWork__details-feedback {
  display: flex;
  flex-direction: column;
  gap: 0.6rem;
  padding-bottom: 1rem;
}
.singleWork .singleWork__details .singleWork__details-feedback p {
  font-size: 0.8rem;
}
.singleWork .singleWork__main {
  display: flex;
  flex-direction: column;
  margin-top: 5rem;
}
.singleWork .singleWork__main .singleWork__main-img, .singleWork .singleWork__main .preview {
  box-shadow: 0 0 100px rgb(187, 185, 185);
  position: relative;
  width: 100%;
  height: 120rem;
  overflow-y: hidden;
  background-image: url(../../assets/media/full-preview-landing-page-design-for-shopify-products.png);
  background-repeat: no-repeat;
  background-size: 100% 100%;
  position: relative;
  display: flex;
  justify-content: center;
}
.singleWork .singleWork__main .singleWork__main-img button, .singleWork .singleWork__main .preview button {
  background: #673ab7;
  color: #fff;
  outline: none;
  padding: 0.9rem 3rem;
  border: none;
  border-radius: 2.5rem;
  position: absolute;
  bottom: 4rem;
}
.singleWork .singleWork__main .singleWork__main-img button:hover, .singleWork .singleWork__main .preview button:hover {
  cursor: pointer;
}
.singleWork .singleWork__main .preview {
  max-height: 140rem;
  box-shadow: 0 0 100px rgb(187, 185, 185);
  position: relative;
  width: 100%;
  overflow-y: hidden;
  background-image: url(../../assets/media/full-preview-landing-page-design-for-shopify-products.png);
  background-repeat: no-repeat;
  background-size: 100% auto;
  position: relative;
  display: flex;
  justify-content: center;
}
.singleWork .singleWork__main .singleWork__main-quote {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 3rem 0;
  background: hsl(234deg, 47%, 50%);
  height: 20rem;
  width: 100%;
  gap: 1rem;
  padding: 1rem;
}
.singleWork .singleWork__main .singleWork__main-quote h2 {
  font-weight: 700;
  font-size: 2.3rem;
  color: #fff;
  text-align: center;
}
.singleWork .singleWork__main .singleWork__main-quote p {
  font-size: 1.1rem;
  color: #fff;
  max-width: 43rem;
  text-align: center;
}
.singleWork .singleWork__main .singleWork__main-quote a {
  background-color: #F9896B;
  color: #fff;
  padding: 1rem 2rem;
}
.singleWork .singleWork__main .singleWork__main-quote:before {
  content: "";
  width: 0;
  height: 0;
  border-right: 50px solid transparent;
  border-top: 50px solid #fff;
  position: absolute;
  top: 0;
  left: 0;
}
.singleWork .singleWork__main .singleWork__main-quote:after {
  content: "";
  width: 0;
  height: 0;
  border-left: 50px solid transparent;
  border-bottom: 50px solid #fff;
  position: absolute;
  bottom: 0;
  right: 0;
}
.singleWork .singleWork__related {
  margin-top: 1rem;
  margin-bottom: -4rem;
}
.singleWork .singleWork__related h2 {
  font-weight: 700;
  font-size: 2.3rem;
}/*# sourceMappingURL=Single.css.map */