.hero {
  margin: 0 6.7% 3rem;
  padding: 7rem 0 0 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  max-width: 100%;
  align-items: flex-start;
}
.hero .hero__main {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  width: 100%;
  gap: 4rem;
}
.hero .hero__main .hero__main-left {
  max-width: 270px;
}
.hero .hero__main .hero__main-left img {
  max-width: 270px;
  max-height: 315px;
}
.hero .hero__main .hero__main-right {
  display: flex;
  flex-direction: column;
  padding: 1rem 0;
  gap: 1rem;
}
.hero .hero__main .hero__main-right h1 {
  font-size: 4rem;
}
.hero .hero__main .hero__main-right h3 {
  font-weight: 400;
}
.hero .hero__main .hero__main-right p {
  max-width: 22rem;
  font-size: 1.2rem;
  line-height: 1.5;
}
.hero .hero__main .hero__main-right a {
  background-color: #222;
  padding: 1rem 2rem;
  width: 10rem;
  color: #fff;
  display: flex;
  gap: 1rem;
}
.hero .hero__sub {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  margin-top: 5rem;
  width: 100%;
  gap: 2rem;
}
.hero .hero__sub .hero__sub-heading {
  width: 100%;
}
.hero .hero__sub .hero__sub-heading p {
  width: 100%;
}
.hero .hero__sub .hero__sub-projects, .hero .hero__sub .hero__sub-years {
  display: flex;
  align-items: center;
  gap: 1rem;
}
.hero .hero__sub .hero__sub-projects p, .hero .hero__sub .hero__sub-years p {
  font-size: 7rem;
  font-weight: 200;
}
.hero .hero__sub .hero__sub-projects h3, .hero .hero__sub .hero__sub-years h3 {
  font-size: 1rem;
  font-weight: 400;
  max-width: 5rem;
}
.hero .hero__sub .hero__sub-projects {
  justify-content: flex-end;
}

@media screen and (max-width: 1040px) {
  .hero__sub {
    display: grid;
    grid-template-columns: 1fr 1fr !important;
    grid-template-rows: 1fr 1fr !important;
    margin-top: 2rem !important;
    gap: 0;
  }
  .hero__sub .hero__sub-heading {
    grid-column: span 2;
    width: 100%;
  }
  .hero__sub .hero__sub-heading p {
    width: 100%;
  }
  .hero__sub .hero__sub-projects, .hero__sub .hero__sub-years {
    margin-top: -2rem !important;
    display: flex;
    align-items: center;
  }
  .hero__sub .hero__sub-projects p, .hero__sub .hero__sub-years p {
    font-size: 5rem !important;
    font-weight: 200;
  }
  .hero__sub .hero__sub-projects h3, .hero__sub .hero__sub-years h3 {
    font-size: 0.8rem !important;
    font-weight: 400;
    max-width: 5rem;
  }
  .hero__sub .hero__sub-projects {
    justify-content: flex-start !important;
  }
  .hero {
    gap: 0;
  }
  .hero .hero__main {
    gap: 2rem;
  }
  .hero .hero__main .hero__main-right {
    gap: 0.7rem;
    margin-top: 0;
  }
  .hero .hero__main .hero__main-right h1 {
    font-size: 3rem;
  }
}
@media screen and (max-width: 680px) {
  .hero .hero__main {
    flex-direction: column;
    gap: 1rem;
  }
  .hero .hero__main .hero__main-left {
    max-width: 100%;
  }
  .hero .hero__main .hero__main-left img {
    max-width: 100%;
  }
  .hero .hero__main .hero__main-right {
    gap: 0.7rem;
    margin-top: 0;
  }
  .hero .hero__main .hero__main-right h1 {
    font-size: 2rem;
  }
  .hero .hero__main .hero__main-right p, .hero .hero__main .hero__main-right a {
    max-width: 100% !important;
  }
  .hero .hero__main .hero__main-right a {
    width: 100%;
    display: flex;
    justify-content: center;
  }
  .hero .hero__sub {
    display: flex !important;
    flex-direction: column;
  }
}/*# sourceMappingURL=Hero.css.map */