.hero{
    margin: 7rem 6.7% 3rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    max-width: 100%;
    align-items: flex-start;

    .hero__main{
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        width: 100%;
        gap: 4rem;

        .hero__main-left{
            max-width: 270px;
            
            img{
                max-width: 100%;
                max-height: 100%;
            }
        }

        .hero__main-right{
            display: flex;
            flex-direction: column;
            padding: 1rem 0;
            gap: 1rem;

            h1{
                font-size: 4rem;
            }

            h3{
                font-weight: 400;
            }

            p{
                max-width: 22rem;
                font-size: 1.2rem;
                line-height: 1.5;
            }

            a{
                background-color: #222;
                padding: 1rem 2rem;
                width: 10rem;
                color: #fff;
                display: flex;
                gap: 1rem;
            }
        }
    }

    .hero__sub{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        margin-top: 5rem;
        width: 100%;
        gap: 2rem;

        .hero__sub-heading{
            //max-width: 23rem;
            width: 100%;
            p{
                width: 100%;
            }
        }

        .hero__sub-projects, .hero__sub-years{
            display: flex;
            align-items: center;
            gap: 1rem;
            
            p{
                font-size: 7rem;
                font-weight: 200;
            }

            h3{
                font-size: 1rem;
                font-weight: 400;
                max-width: 5rem;
            }

        }

        .hero__sub-projects{
            justify-content: flex-end;
        }
        
    }
    
}

//media queries

@media screen and (max-width:1040px) {

    .hero__sub{
        display: grid;
        grid-template-columns: 1fr 1fr !important;
        grid-template-rows: 1fr 1fr !important;
        margin-top: 2rem !important;
        gap: 0;

        .hero__sub-heading{
            //max-width: 23rem;
            grid-column: span 2;
            width: 100%;
            p{
                width: 100%;
            }
        }

        .hero__sub-projects, .hero__sub-years{
            margin-top: -2rem !important;
            display: flex;
            align-items: center;
            p{
                font-size: 5rem !important;
                font-weight: 200;
            }

            h3{
                font-size: .8rem !important;
                font-weight: 400;
                max-width: 5rem;
            }

        }

        .hero__sub-projects{
            justify-content: flex-start !important;
        }
        
    }


    .hero{
        gap: 0;
        .hero__main{
            gap: 2rem;
            .hero__main-right{
                gap: .7rem;
                margin-top: 0;
                h1{
                    font-size: 3rem;
                }
            }
        }
    }
}

@media screen and (max-width:680px) {
    .hero{
        .hero__main{
            flex-direction: column;
            gap: 1rem;
            .hero__main-left{
                max-width: 100%;
                img{
                    max-width: 100%
                }
            }
            .hero__main-right{
                gap: .7rem;
                margin-top: 0;
                h1{
                    font-size: 2rem;
                }

                p{
                    max-width: 100%;
                }
            }
        }

        .hero__sub{
            display: flex !important;
            flex-direction: column;
        }
    }
}