.singleBlog {
  display: flex;
  flex-direction: column;
  margin: 7rem 6.5% 0;
}
.singleBlog .singleBlog__header {
  max-width: 100%;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  padding: 1rem 0;
  margin: 3rem 0;
}
.singleBlog .singleBlog__header h2 {
  font-size: 2.5rem;
  max-width: 45rem;
}
.singleBlog .singleBlog__header .singleBlog__header-related {
  display: flex;
  gap: 0.6rem;
}
.singleBlog .singleBlog__header .singleBlog__header-related button {
  padding: 0.7rem 1rem;
  background-color: var(--white);
  border: 1px solid var(--grey);
  border-radius: 2rem;
  color: var(--grey);
}
.singleBlog .singleBlog__main {
  display: flex;
  flex-direction: column;
  margin-top: 3rem;
  margin-bottom: 5rem;
}
.singleBlog .singleBlog__main .singleBlog__main-img, .singleBlog .singleBlog__main .preview {
  box-shadow: 0 0 100px var(--grey);
  position: relative;
  max-width: 100%;
  height: 35rem;
  overflow-y: hidden;
  background-image: url(../../assets/media/full-preview-landing-page-design-for-shopify-products.png);
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  display: flex;
  justify-content: center;
  transition: 7000ms ease-in-out;
}
.singleBlog .singleBlog__main .singleBlog__main-img:hover, .singleBlog .singleBlog__main .preview:hover {
  background-position: bottom;
}
.singleBlog .singleBlog__main .singleBlog__blog {
  display: flex;
  flex-direction: column;
  max-width: 100%;
}
.singleBlog .singleBlog__main .singleBlog__blog .socials {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 2rem 0.4rem;
  align-items: center;
  border-bottom: var(--light_grey) solid 1px;
  margin-bottom: 2rem;
}
.singleBlog .singleBlog__main .singleBlog__blog .socials .socials__date p {
  color: var(--grey);
}
.singleBlog .singleBlog__main .singleBlog__blog .socials .socials__links {
  display: flex;
  gap: 0.7rem;
  align-items: center;
}
.singleBlog .singleBlog__main .singleBlog__blog .socials .socials__links a {
  display: flex;
  align-items: center;
  color: var(--grey);
}
.singleBlog .singleBlog__main .singleBlog__blog .socials .socials__links a .social-icon {
  font-size: 25px;
}
.singleBlog .singleBlog__main .singleBlog__blog .blog {
  display: grid;
  grid-template-columns: 5fr 2fr;
  width: 100%;
}
.singleBlog .singleBlog__main .singleBlog__blog .blog .blog__post {
  width: 95%;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.singleBlog .singleBlog__main .singleBlog__blog .blog .blog__post .blog__post-profile {
  display: flex;
  gap: 0.8rem;
  align-items: center;
}
.singleBlog .singleBlog__main .singleBlog__blog .blog .blog__post .blog__post-profile img {
  border-radius: 50%;
}
.singleBlog .singleBlog__main .singleBlog__blog .blog .blog__post .blog__post-content {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.singleBlog .singleBlog__main .singleBlog__blog .blog .blog__post .blog__post-content summary {
  font-size: 1.1rem;
  letter-spacing: 1px;
  line-height: 1.6rem;
}
.singleBlog .singleBlog__main .singleBlog__blog .blog .blog__post .blog__post-content .blog__post-content_technologies {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.singleBlog .singleBlog__main .singleBlog__blog .blog .blog__post .blog__post-content .blog__post-content_technologies h2 {
  font-size: 1.4rem;
  margin-top: 1rem;
}
.singleBlog .singleBlog__main .singleBlog__blog .blog .blog__post .blog__post-content .blog__post-content_technologies .blog__post-content_technologies-items ul {
  display: flex;
  flex-wrap: wrap;
  gap: 0.5rem;
}
.singleBlog .singleBlog__main .singleBlog__blog .blog .blog__post .blog__post-content .blog__post-content_technologies .blog__post-content_technologies-items ul li {
  background: var(--pale_blue);
  color: var(--blue);
  border-radius: 2rem;
  padding: 8px 15px;
  font-size: 12px;
}
.singleBlog .singleBlog__main .singleBlog__blog .blog .blog__post .blog__post-content .blog__post-content_overview {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.singleBlog .singleBlog__main .singleBlog__blog .blog .blog__post .blog__post-content .blog__post-content_overview h2 {
  font-size: 1.4rem;
  margin-top: 1rem;
}
.singleBlog .singleBlog__main .singleBlog__blog .blog .blog__post .blog__post-content .blog__post-content_overview div {
  display: flex;
  flex-direction: column;
  gap: 0.6rem;
  margin-left: 2rem;
}
.singleBlog .singleBlog__main .singleBlog__blog .blog .blog__post .blog__post-content .blog__post-content_overview div p {
  font-weight: 400;
}
.singleBlog .singleBlog__main .singleBlog__blog .blog .related {
  max-width: 100%;
  display: flex;
  gap: 1rem;
  flex-direction: column;
}
.singleBlog .singleBlog__main .singleBlog__blog .blog .related .related__post {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  max-width: 100%;
}
.singleBlog .singleBlog__main .singleBlog__blog .blog .related .related__post .related__post-img {
  max-width: 100%;
  height: 12rem;
  overflow-y: hidden;
}
.singleBlog .singleBlog__main .singleBlog__blog .blog .related .related__post .related__post-img img {
  max-width: 100%;
  border-radius: 3px;
}
.singleBlog .singleBlog__main .singleBlog__blog .blog .related .related__post .related__post-socials {
  display: flex;
  justify-content: space-between;
}
.singleBlog .singleBlog__main .singleBlog__blog .blog .related .related__post .related__post-socials .related__post-socials_links {
  display: flex;
  align-items: center;
}
.singleBlog .singleBlog__main .singleBlog__blog .blog .related .related__post .related__post-socials .related__post-socials_links a {
  display: flex;
  align-items: center;
  gap: 0.3rem;
  color: #696868;
}
.singleBlog .singleBlog__main .singleBlog__blog .blog .related .related__post .related__post-socials .related__post-socials_links a .social-icon {
  font-size: 15px;
  color: #eb1010;
}
.singleBlog .comments {
  max-width: 100%;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.singleBlog .comments h2 {
  font-size: 1.5rem;
  padding: 1rem 0;
  margin: 2rem 0 0 0;
}
.singleBlog .comments .comments__main {
  display: flex;
  gap: 1rem;
  max-width: 100%;
}
.singleBlog .comments .comments__main .comments__main-profile img {
  width: 3.5rem;
  border-radius: 50%;
}
.singleBlog .comments .comments__main .comments__main-content {
  display: flex;
  flex-direction: column;
  gap: 0.3rem;
}
.singleBlog .comments .comments__main .comments__main-content .comments__main-content_top {
  display: flex;
  gap: 0.4rem;
  flex-direction: column;
}
.singleBlog .comments .comments__main .comments__main-content .comments__main-content_top p {
  color: #696868;
}
.singleBlog .comments .comments__main .comments__main-content .comments__main-content_message {
  border: 1px solid #D9D9D9;
  background-color: rgba(242, 242, 242, 0.9490196078);
  border-radius: 5px;
  margin-top: 0.5rem;
}
.singleBlog .comments .comments__main .comments__main-content .comments__main-content_message p {
  font-size: 1.1rem;
  letter-spacing: 1px;
  line-height: 1.6rem;
  padding: 1rem 1rem;
}
.singleBlog .comments .comments__main .comments__main-content .comments__main-content_bottom {
  margin-top: 1rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.singleBlog .comments .comments__main .comments__main-content .comments__main-content_bottom div {
  display: flex;
  align-content: center;
}
.singleBlog .comments .comments__main .comments__main-content .comments__main-content_bottom div button {
  display: flex;
  gap: 0.2rem;
  align-items: center;
  height: 2rem;
  background: transparent;
  border: none;
}
.singleBlog .comments .comments__main .comments__main-content .comments__main-content_bottom div button:hover {
  cursor: pointer;
  color: #131111;
}
.singleBlog .comments .comments__main .comments__main-content .comments__main-content_bottom div button .social-icon {
  font-size: 1.6rem;
}/*# sourceMappingURL=SingleBlog.css.map */