.singleBlog{
    display: flex;
    flex-direction: column;
    margin: 7rem 6.5% 0;

    .singleBlog__header{
        max-width: 100%;
        display: flex;
        flex-direction: column;
        gap: 2rem;
        padding: 1rem 0;
        margin: 3rem 0;
        h2{
            font-size: 2.5rem;
            max-width: 45rem;
        }

        .singleBlog__header-related{
            display: flex;
            gap: .6rem;
            overflow-x: scroll;
            padding: 1rem 0;
            button{
                padding: .7rem 1rem;
                background-color: var(--white);
                border: 1px solid var(--grey);
                border-radius: 2rem;
                color: var(--grey);
            }
        }
    }

    .singleBlog__main{
        display: flex;
        flex-direction: column;
        margin-top: 3rem;
        margin-bottom: 5rem;

        .singleBlog__main-img, .preview{
            box-shadow: 0 0 100px var(--grey);
            position: relative;
            max-width: 100%;
            height: 35rem;
            overflow-y: hidden;
            background-image: url(../../assets/media/full-preview-landing-page-design-for-shopify-products.png);
            background-repeat: no-repeat;
            background-size: cover;
            position: relative;
            display: flex;
            justify-content: center;
            transition: 7000ms ease-in-out;

            &:hover{
                background-position: bottom;
            }
        }

        .singleBlog__blog{
            display: flex;
            flex-direction: column;
            max-width: 100%;
            
            .socials{
                display: flex;
                flex-direction: row;
                justify-content: space-between;
                padding: 2rem .4rem;
                align-items: center;
                border-bottom: var(--light_grey) solid 1px;
                margin-bottom: 2rem;

                .socials__date{
                    p{
                        color: var(--grey);
                    }
                }

                .socials__links{
                    display: flex;
                    gap: .7rem;
                    align-items: center;
                    a{
                        display: flex;
                        align-items: center;
                        color: var(--grey);

                        .social-icon{
                            font-size: 25px;
                        }
                    }
                }
            }

            .blog{
                display: grid;
                grid-template-columns: 5fr 2fr;
                width: 100%;
                .blog__post{
                    width: 95%;
                    display: flex;
                    flex-direction: column;
                    gap: 1rem;

                    .blog__post-profile{
                        display: flex;
                        gap: .8rem;
                        align-items: center;

                        img{
                            border-radius: 50%;
                        }
                    }

                    .blog__post-content{
                        display: flex;
                        flex-direction: column;
                        gap: 1rem;

                        summary{
                            font-size: 1.1rem;
                            letter-spacing: 1px;
                            line-height: 1.6rem;
                        }

                        .blog__post-content_technologies{
                            display: flex;
                            flex-direction: column;
                            gap: 1rem;

                            h2{
                                font-size: 1.4rem;
                                margin-top: 1rem;
                            }

                            .blog__post-content_technologies-items ul{
                                display: flex;
                                flex-wrap: wrap;
                                gap: .5rem;

                                li{
                                    background: var(--pale_blue);
                                    color: var(--blue);
                                    border-radius: 2rem;
                                    padding: 8px 15px;
                                    font-size: 12px;
                                }
                            }
                        }

                        .blog__post-content_overview{
                            display: flex;
                            flex-direction: column;
                            gap: 1rem;

                            h2{
                                font-size: 1.4rem;
                                margin-top: 1rem;
                            }

                            div{
                                display: flex;
                                flex-direction: column;
                                gap: .6rem;
                                margin-left: 2rem;
                                p{
                                    font-weight: 400;
                                }
                            }
                        }
                    }

                }

                .related{
                    max-width: 100%;
                    display: flex;
                    gap: 1rem;
                    flex-direction: column;

                    .related__post{
                        display: flex;
                        flex-direction: column;
                        gap:1rem;
                        max-width: 100%;

                        .related__post-img{
                            max-width: 100%;
                            height: 12rem;
                            overflow-y: hidden;
                            img{
                                max-width: 100%;
                                border-radius: 3px;
                            }
                        }

                        .related__post-socials{
                            display: flex;
                            justify-content: space-between;

                            .related__post-socials_links{
                                display: flex;
                                align-items: center;
                                a{
                                    display: flex;
                                    align-items: center;
                                    gap: .3rem;
                                    color: var(--grey);
                                    
                                    .social-icon{
                                        font-size: 15px;
                                        color: var(--red);
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }  
    }

    .comments{
        max-width: 100%;
        display: flex;
        flex-direction: column;
        gap: 1rem;

        h2{
            font-size: 1.5rem;
            padding: 1rem 0;
            margin: 2rem 0 0 0;
        }

        .comments__main{
            display: flex;
            gap: 1rem;
            max-width: 100%;

            .comments__main-profile{
                img{
                    width: 3.5rem;
                    border-radius: 50%;
                }
            }

            .comments__main-content{
                display: flex;
                flex-direction: column;
                gap: .3rem;
                
                .comments__main-content_top{
                    display: flex;
                    gap: .4rem;
                    flex-direction: column;
                    p{
                        color: var(--grey);
                    }
                }

                .comments__main-content_message{
                    border: 1px solid var(--light_grey);
                    background-color: rgba(242, 242, 242, 0.9490196078);
                    border-radius: 5px;
                    margin-top: .5rem;
                    p{
                        font-size: 1.1rem;
                        letter-spacing: 1px;
                        line-height: 1.6rem;
                        padding: 1rem 1rem;
                    }
                }

                .comments__main-content_bottom{
                    margin-top: 1rem;
                    display: flex;
                    flex-direction: row;
                    justify-content: space-between;

                    div{
                        display: flex;
                        align-content: center;
                        button{
                            display: flex;
                            gap: .2rem;
                            align-items: center;
                            height: 2rem;
                            background: transparent;
                            border: none;
                            &:hover{
                                cursor: pointer;
                                color: var(--grey);
                            }

                            .social-icon{
                                font-size: 1.6rem;
                            }
                        }
                    }
                }
            }
        }
    }

    .form{
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        gap: 1rem;

        textarea{
            outline: none;
            padding: 1rem;
            border-radius: .3rem;
            border: 1px solid var(--light_grey);
            width: 100%;
            font-size: 1.1rem;
            letter-spacing: 1px;
            line-height: 1.6rem;
            padding: 1rem 1rem;

            &:focus{
                border: 1px solid var(--grey);
            }
        }

        button{
            padding: .7rem 2.4rem;
            background-color: var(--pale_black);
            color: var(--white);
            border: none;
        }
    }
}

// Medim devices
@media screen and (max-width:1040px){
    .blog{
        display: flex !important;
        flex-direction: column !important;

        .related{
            margin-top: 2rem;
            display: grid !important;
            grid-template-columns: 1fr 1fr;
            h2{
                grid-column: span 2;
            }
        }
    }
}

@media screen and (max-width:620px){
    .blog{
        display: flex !important;
        flex-direction: column !important;
        
        .related{
            display: grid !important;
            grid-template-columns: 1fr;

            h2{
                grid-column: span 1;
            }
        }
    }

    .comments{
        .comments__main{
            gap: .5rem !important;
            .comments__main-profile{
                img{
                    width: 2rem !important;
                    border-radius: 50%;
                }
            }
        }
    }
}