.about{
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    width: 100%;

    .about__right{
        display: flex;
        flex-direction: column;
        gap: 1.5rem;

        h2{
            font-size: 2rem;
            color: #313bac;
        }

        p{
            max-width: 39rem;
            font-size: 1.1rem;
            line-height: 1.5;
            font-weight: 100;
        }

        a{
            background-color: #222;
            padding: 1rem 2rem;
            width: 6rem;
            color: #fff;
            display: flex;
            gap: 1rem;
        }
    }
}