.about{
    padding-top: 6rem;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 3rem;
    margin: 0 3.5% 0;

    .about__left{
        max-width: 405px;
        max-height: 700px;

        img{
            max-width: 100%;
            max-height: 100%;
        }
    }

    .about__right{
        display: flex;
        flex-direction: column;
        gap: 1rem;
        max-height: 700px;
        justify-content:baseline;
        align-items: flex-start;
        max-height: 100%;
        h2{
            font-size: 2rem;
            color: #313bac;
            position: relative;

            &:before{
                content: "";
                position: absolute;
                width: 6rem;
                height: 3px;
                bottom: 0;
                top: 2.7rem;
                left: 2px;
                background-color:  #313bac;
            }
        }

        p{
            max-width: 39rem;
            font-size: 1.1rem;
            line-height: 1.5;
            font-weight: 300;
        }

        a{
            background-color: #222;
            padding: 1rem 2rem;
            width: 10rem;
            color: #fff;
            display: flex;
            gap: 1rem;
        }
    }
}

@media screen and (max-width:1040px) {
    .about{
        justify-content: flex-start;
        margin-top: 1rem;
        .about__left{
            display: none !important;
        }

        .about__right{
            p{
                max-width: 100%;
            }
        }
    }
}