.navbar{
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top: 0 !important;
    left: 0;
    background-color: rgba($color: #fff, $alpha: 0.9);
    height: 5.75rem;
    border-bottom: 1px solid #D9D9D9;
    z-index: 999;
    .navbar__logo{
        margin-left: 6.5%;
        a{
            font-size: x-large;
            letter-spacing: 2px;
        } 

        span{
            font-size: large;
            letter-spacing: 2px;
        }
    }
    .navbar__links{
        display: flex;
        align-items: center;
        margin-right: 6.5%;
    .navbar__links-ul{
        display: flex;
        gap: 2.5rem;

        .navbar__links-ul_li-a{
            color: #222;
        }
        }
    }
}