.mission{
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 1rem;

    .mission__top{
        display: flex;
        position: relative;
        justify-content: flex-end;
        width: 100%;

        .mission__top-statement{
            align-self: center;
            justify-self: center; 
            position: absolute;
            left: 26%;
            right: 26%;
            p{
                font-size: 3rem;
                font-weight: 700;
                max-width: 45rem;
            }
            
        }

        .mission__top-img{
            max-width: 420px;
            max-height: 437px;
            align-self: flex-end;
            img{
                width: 100%;
                height: 100%;
            }
        }

    }

    .mission__bottom{
        display: flex;
        flex-direction: column;
        gap: .6rem;
        p{
            font-weight: 400;
        }
    }
}

@media screen and (max-width:1080px) {
    .mission__top-statement{
        align-self: center;
        justify-self: center; 
        position: absolute;
        left: 13% !important;
        right: 13% !important;

        p{
            font-size: 3rem;
            font-weight: 700;
            max-width: 50rem !important;
        }
        
    }
}

@media screen and (max-width:880px) {
    .mission__top-statement{
        align-self: center;
        justify-self: center; 
        position: absolute;
        left: 7% !important;
        right: 7% !important;

        p{
            font-size: 2.5rem !important;
            font-weight: 700;
            max-width: 50rem !important;
            color: rgb(0, 0, 17);
        }
        
    }
}

@media screen and (max-width:680px) {
    .mission__top{
        display: flex;
        flex-direction: column;
        gap: 1rem;
        .mission__top-statement{
            display: flex !important;
            justify-self: center; 
            position:relative !important;
    
            p{
                font-size: 2rem !important;
                font-weight: 700;
                max-width: 29rem !important;
                color: rgb(0, 0, 17);
                margin-left: -2rem;
            }
        }
        .mission__top-img{
            max-width: 100% !important;
            max-height: 100% !important;
            img{
                max-width: 100%;
            }
        }
    }

    .mission__bottom{
        margin-top: 2rem;
    }

}