@font-face {
    font-family: 'THICCCBOI';
    src: url('./assets/fonts/THICCCBOI-Regular.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'THICCCBOI';
    src: url('./assets/fonts/THICCCBOI-Bold.woff2') format('woff2');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'THICCCBOI';
    src: url('./assets/fonts/THICCCBOI-Medium.woff2') format('woff2');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'THICCCBOI';
    src: url('./assets/fonts/THICCCBOI-ExtraBold.woff2') format('woff2');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'THICCCBOI Semi';
    src: url('./assets/fonts/THICCCBOI-Black.woff2') format('woff2');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'THICCCBOI';
    src: url('./assets/fonts/THICCCBOI-SemiBold.woff2') format('woff2');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'THICCCBOI';
    src: url('./assets/fonts/THICCCBOI-ThicccAF.woff2') format('woff2');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'THICCCBOI';
    src: url('./assets/fonts/THICCCBOI-Light.woff2') format('woff2');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'THICCCBOI';
    src: url('./assets/fonts/THICCCBOI-Thin.woff2') format('woff2');
    font-weight: 100;
    font-style: normal;
    font-display: swap;
}


li{
    list-style: none;
}

a{
    text-decoration: none;
    color: #222;
}

*{
    padding: 0;
    margin: 0;
    font-family: THICCCBOI;
    font-size: 16px;
}

.container{
    margin: 0 3.5%;
    position: relative;
    display: flex;
    flex-direction: column;
}