@font-face {
    font-family: 'THICCCBOI';
    src: url('./assets/fonts/THICCCBOI-Regular.ttf') format('ttf'),
        url('./assets/fonts/THICCCBOI-Regular.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'THICCCBOI';
    src: url('./assets/fonts/THICCCBOI-Bold.woff2') format('woff2'),
        url('./assets/fonts/THICCCBOI-Bold.ttf') format('ttf');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'THICCCBOI';
    src: url('../fonts/THICCCBOI-Medium.woff2') format('woff2'),
        url('../fonts/THICCCBOI-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'THICCCBOI';
    src: url('../fonts/THICCCBOI-ExtraBold.woff2') format('woff2'),
        url('../fonts/THICCCBOI-ExtraBold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'THICCCBOI Semi';
    src: url('../fonts/THICCCBOI-Black.woff2') format('woff2'),
        url('../fonts/THICCCBOI-Black.woff') format('woff');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'THICCCBOI';
    src: url('../fonts/THICCCBOI-SemiBold.woff2') format('woff2'),
        url('../fonts/THICCCBOI-SemiBold.woff') format('woff');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'THICCCBOI';
    src: url('../fonts/THICCCBOI-ThicccAF.woff2') format('woff2'),
        url('../fonts/THICCCBOI-ThicccAF.woff') format('woff');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'THICCCBOI';
    src: url('../fonts/THICCCBOI-Light.woff2') format('woff2'),
        url('../fonts/THICCCBOI-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'THICCCBOI';
    src: url('../fonts/THICCCBOI-Thin.woff2') format('woff2'),
        url('../fonts/THICCCBOI-Thin.woff') format('woff');
    font-weight: 100;
    font-style: normal;
    font-display: swap;
}


li{
    list-style: none;
}

a{
    text-decoration: none;
}

*{
    padding: 0;
    margin: 0;
    font-family: THICCCBOI;
}

.container{
    margin: auto;
    max-width: 80%;
}