.header {
  margin: 7rem 6.5% -3rem;
}
.header .header__heading {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  height: 11rem;
}
.header .header__heading h2 {
  font-size: 7rem;
  font-weight: 700;
}
.header .header__intro {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  margin-top: 3rem;
  width: 100%;
  gap: 2rem;
}
.header .header__intro .header__Intro-subheading {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  max-width: 23rem;
}
.header .header__intro .header__Intro-subheading p {
  width: 100%;
}
.header .header__intro .header__Intro-projects, .header .header__intro .work__header-Intro_years {
  display: flex;
  align-items: center;
  gap: 1rem;
}
.header .header__intro .header__Intro-projects p, .header .header__intro .work__header-Intro_years p {
  font-size: 7rem;
  font-weight: 200;
}
.header .header__intro .header__Intro-projects h3, .header .header__intro .work__header-Intro_years h3 {
  font-size: 1rem;
  font-weight: 400;
  max-width: 5rem;
}
.header .header__intro .header__Intro-projects {
  justify-content: flex-end;
}
.header .header__categories {
  display: flex;
  max-width: 100%;
  gap: 1rem;
  overflow-x: scroll;
  padding: 1rem 0;
  margin: 3rem 0;
}
.header .header__categories button {
  padding: 0.7rem 1rem;
  background-color: #fff;
  border: 1px solid #D9D9D9;
  border-radius: 2rem;
  color: rgb(126, 125, 125);
  display: table-cell;
}

.work {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 7rem 3.5%;
  max-width: 100%;
}
.work .work__portfolio {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}
.work .work__portfolio .work__portfolio-item {
  display: flex;
  flex-direction: column;
  max-width: 580px;
  border: solid 1px #D9D9D9;
  gap: 0.5rem;
}
.work .work__portfolio .work__portfolio-item .work__portfolio-item_img {
  padding: 1rem;
}
.work .work__portfolio .work__portfolio-item .work__portfolio-item_img img {
  border: solid 1px #D9D9D9;
  width: 100%;
}
.work .work__portfolio .work__portfolio-item .work__portfolio-item-heading {
  padding: 1rem 1rem 2rem;
}
.work .work__portfolio .work__portfolio-item .work__portfolio-item-heading h3 {
  font-size: 1.4rem;
}
.work .work__portfolio .work__portfolio-item .work__portfolio-item_links {
  display: flex;
  justify-content: space-between;
  padding: 0 1rem 1rem;
}
.work .work__portfolio .work__portfolio-item .work__portfolio-item_links a {
  font-size: 12px;
  line-height: 10px;
  padding: 8px 15px;
  background: #dccafc;
  color: #4b0ae5;
  border-radius: 0.5rem;
}
.work .work__portfolio .work__portfolio-item .work__portfolio-item_details {
  display: flex;
  justify-content: space-between;
  padding: 0 1rem 1rem;
}
.work .work__portfolio .work__portfolio-item .work__portfolio-item_details div, .work .work__portfolio .work__portfolio-item .work__portfolio-item_details a {
  border-right: #D9D9D9 solid 1px;
  padding-right: 3rem;
  display: flex;
  flex-direction: column;
  gap: 0.6rem;
  padding-bottom: 1rem;
}
.work .work__portfolio .work__portfolio-item .work__portfolio-item_details div p, .work .work__portfolio .work__portfolio-item .work__portfolio-item_details a p {
  font-size: 0.8rem;
}
.work .work__portfolio .work__portfolio-item .work__portfolio-item_details a {
  border-right: none;
  padding-left: -2rem;
}
.work .work__portfolio .work__portfolio-item .work__portfolio-item_details a p {
  font-size: 0.8rem;
}
.work .work__cta {
  margin-top: 3rem;
  align-self: center;
  background-color: #222;
  padding: 1rem 2rem;
  width: 12.5rem;
  color: #fff;
  display: flex;
  gap: 1rem;
}/*# sourceMappingURL=Work.css.map */