.header{
    margin: 7rem 6.5% -3rem;

    .header__heading{
        display: flex;
        justify-content: flex-start;
        align-items: center;
        height: 11rem;
        h2{
            font-size: 7rem;
            font-weight: 700;
        }
    }
    .header__intro{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        margin-top: 3rem;
        width: 100%;
        gap: 2rem;

        .header__Intro-subheading{
            display: flex;
            justify-content: flex-start;
            align-items: center;
            max-width: 23rem;
                p{
                    width: 100%;
                }
        }
        .header__Intro-projects, .work__header-Intro_years{
            display: flex;
            align-items: center;
            gap: 1rem;
            
            p{
                font-size: 7rem;
                font-weight: 200;
            }

            h3{
                font-size: 1rem;
                font-weight: 400;
                max-width: 5rem;
            }
        }

        .header__Intro-projects{
            justify-content: flex-end;
        }
    }
    .header__categories{
        display: flex;
        max-width: 100%;
        gap: 1rem;
        overflow-x: scroll;
        padding: 1rem 0;
        margin: 3rem 0;

        button{
            padding: .7rem 1rem;
            background-color:#fff;
            border: 1px solid #D9D9D9;
            border-radius: 2rem;
            color: rgb(126, 125, 125);
            display: table-cell;
        }
    }
}

.work{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 3rem 3.5%;
    max-width: 100%;

    .heading, .paragraph{
        margin-left: 3.5%;
        margin-bottom: 2rem;
        font-size: 1.1rem;
    }
    
    .heading{
        font-size: 2.7rem;
    }
    .work__portfolio{
        display: grid;
        grid-template-columns: 1fr 1fr;
        align-items: center;
        justify-content: center;
        gap: 1rem;

        .work__portfolio-item{
            display: flex;
            flex-direction: column;
            max-width: 580px;
            border: solid 1px #D9D9D9;
            gap: .5rem;

            .work__portfolio-item_img{
                padding: 1rem;
                
                img{
                    border: solid 1px #D9D9D9;
                    width: 100%;
                }
            }

            .work__portfolio-item-heading{
                padding: 1rem 1rem 1rem;
                display: flex;
                flex-direction: column;
                gap: 1.3rem;
                h3{
                    font-size: 1.4rem;
                }
            }

            .work__portfolio-item_links{
                display: flex;
                justify-content: space-between;
                padding: 0 1rem 1rem;

                a{
                    font-size: 12px;
                    line-height: 10px;
                    padding: 8px 15px;
                    background: #dccafc;
                    color: #4b0ae5;
                    border-radius: .5rem;
                }
            }

            .work__portfolio-item_details{
                display: flex;
                justify-content: space-between;
                padding: 0 1rem 1rem;


                div, a{
                    border-right: #D9D9D9 solid 1px;
                    padding-right: 3rem;
                    display: flex;
                    flex-direction: column;
                    gap: .6rem;
                    padding-bottom: 1rem;
                    // align-self: center;

                    :first-child{
                        font-weight: 700;
                    }
                    
                    p{
                        font-size: .8rem;
                    }
                }

                a{
                    border-right: none;
                    padding-left: -2rem;

                    p{
                        font-size: .8rem;
                    }
                }
            }
        }
    }

    .work__cta{
        margin-top: 3rem;
        align-self: center;
        background-color: #222;
        padding: 1rem 2rem;
        width: 12.5rem;
        color: #fff;
        display: flex;
        gap: 1rem;
    }
}

@media screen and (max-width:1100px){
    .work{
        .work__portfolio{
            .work__portfolio-item{
                .work__portfolio-item_details{
                    div, a{
                        padding-right: 2%;
                    }
                }
            }
        }
    }
}

@media screen and (max-width:870px){

    .header{
        margin: 7rem 6.5% -3rem;
    
        .header__heading{
            height: 5rem; //hgh
            h2{
                font-size: 5rem; //jkjk
                font-weight: 700;
            }
        }
        .header__intro{
            grid-template-columns: 1fr 1fr;
            grid-template-rows: 1fr 1fr;
            margin-top: 1rem;
    
            .header__Intro-subheading{
                grid-column: span 2;
                    p{
                        width: 100%;
                    }
            }
            .header__Intro-projects, .work__header-Intro_years{
                p{
                    font-size: 4rem;//gh
                }
    
                h3{
                    font-size: 1rem;
                }
            }
    
            .header__Intro-projects{
                justify-content: flex-start;
            }
        }
        .header__categories{
            display: flex;
            max-width: 100%;
            gap: 1rem;
            overflow-x: scroll;
            padding: 1rem 0;
            margin: 3rem 0;
    
            button{
                padding: .7rem 1rem;
                background-color:#fff;
                border: 1px solid #D9D9D9;
                border-radius: 2rem;
                color: rgb(126, 125, 125);
                display: table-cell;
            }
        }
    }


    .work{
        .work__portfolio{
            display: grid;
            grid-template-columns: 1fr;
            max-width: 100%;
            .work__portfolio-item{
                max-width: 100%;
                max-height: 100%;
                .work__portfolio-item_details{
                    div, a{
                        padding-right: 3rem;
                    }
                }
            }
        }
    }
}

@media screen and (max-width:560px){
    


    .header{
        margin: 7rem 6.5% -3rem;
    
        .header__heading{
            height: 7rem; //hgh
            h2{
                font-size: 5rem; //jkjk
                font-weight: 700;
            }
        }
        .header__intro{
            display: flex;
            flex-direction: column;
            margin-top: 1rem;
    
            .header__Intro-subheading{
                margin-top: 1rem;
            }
            .header__Intro-projects, .work__header-Intro_years{
                margin-top: -1rem;
            }
        }
    }

    .work{
        .work__portfolio{
            display: flex;
            flex-direction: column;
            max-width: 100%;
            margin: 1rem;
            .work__portfolio-item{
                max-width: 100%;
                .work__portfolio-item_details{
                    display: flex;
                    flex-direction: column;
                    
                    div, a{
                        border-right: none;

                        &:first-child{
                            font-weight: 300;
                        }
                    }
                }
            }
        }
        .work__cta{
            margin: 3rem 2rem;
            align-self: center;
            background-color: #222;
            padding: 1rem 2rem;
            width: 93%;
            color: #fff;
            display: flex;
            gap: 1rem;
            justify-content: center;
        }
    }
}